*{
  color: #ccd6f6;
  /* background-color: #0a192f; */
}
body{
  font-family: Arial, sans-serif;
  font-size: 20px;
  background-color: #0a192f;
}
h1{
  color: #f7f7f7;
}
/* style the  navigation bar */
.navbar {
  display: flex;
  justify-content: center; 
  align-items: center;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: grey;
  color: #64ffda;
}

.homepage {
  height: 100vh; /* full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical centering */
  padding: 0 200px;
  font-size: 35px;
}
.homepage button{
  border-radius: 5px;
  background-color: #0a192f;
  border-color: #64ffda;
  width: 200px;
  height: 50px;
}
.homepage a{
  font-size: 24px;
  text-decoration: none; /*remove underline from the link*/
}

/* styling the About page */
.about h2 {
  text-align: center;
  margin: 50px;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.about-text {
  flex: 1;
  max-width: 500px;
}

/* styling the project page */
.project-section {
  text-align: center;
}

/* creating a 3 column grid to display the project in cards */
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 5px;
  margin: 0 auto;
}

/* styling the cards */
.project-card {
  border: 1px solid white;
  border-radius: 20px;
  max-width: 450px;
  height: 600px;
  padding: 10px;
}
/* styling the card titles */
.project-card h2 {
  font-size: 24px;
  text-align: center;

}
/* styling the images to fit in the card  */
.project-card img {
  width: 100%;
  height: 350px;
  border-radius: 20px;
}

/* styling the button containing links to the projects */
.project-card button {
  border-radius: 5px;
  background-color: #0a192f;
  border-color: #64ffda;
  width: 100px;
  height: 30px;
}

/* styling the project links to fit in the buttons */
.project-card a {
  text-decoration: none;
  font-size: 15px;
}

/* styling the resume section */
.resume-title {
  text-align: center;
}
/* styling the resume download button */
.resume-title button{
  border-radius: 5px;
  background-color: #0a192f;
  border-color: #64ffda;
  width: 200px;
  height: 50px;
}

.resume-title a {
  text-align: none;
  font-size: 15px;
  color: #ccd6f6;
}

.resume-container * {
  background-color: #ccd6f6;
  color: #0a192f;
  width: 80%;
  margin: 2px auto;    
  padding: 2px;          
  border-radius: 10px;
}

/* styling the resume head*/
.resume-head {
  text-align: center;
  color: #0a192f;
}

.resume-container h3 {
  text-align: center;
}
.resume-items {
  display: flex;
  justify-content: space-between;
}
.institution {
  text-align: left;
  font-size: 18px;  
  font-weight: 600;
}

.period {
  text-align: right;
  font-size: 15px;
  font-style: italic;
}
.course{
  text-align: left;
  margin-left: 120px;
  font-size: 18px;
}
.job-title {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}
.company {
  text-align: left;
  margin-left: 20px;
  font-size: 18px;
}
.roles {
  text-align: left;
  margin-left: 50px;
  font-size: 18px;
}

/* Container for skill bars */
.container {
  width: 80%; 
  background-color: #0a192f; 
}

.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: #ccd6f6; 
}

.QGIS {width: 90%; background-color: #589632;} 
.ArcGIS {width: 80%; background-color: #0078A8;} 
.Python {width: 65%; background-color: maroon;} 
.sql {width: 70%; background-color: #00758F;} 
.html {width: 85%; background-color: #E44D26;} 
.css {width: 75%; background-color: purple;} 
.js {width: 60%; background-color: brown;} 

/* styling the contact page */
.contact-section {
  max-width: 600px;
  margin: 48px auto;
  padding: 0 16px;
  text-align: center
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}

.contact-form label {
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  background-color: #0a192f;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.contact-form button {
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #64ffda;
  color: #0a192f;
  border: none;
  border-radius: 4px;
}

.contact-form button:hover {
  background-color: grey;
  color: #64ffda;
}


.contact-links {
  margin-top: 30px;
}

.contact-links a {
  margin: 0 5px;
}





